<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>荷包金融业务发版</title>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/css/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/font/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">荷包自动发布系统</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 账户管理</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 账户设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="deploy/login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search.">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 资源中心 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="list_server">主机列表</a>
                            </li>
                            <li>
                                <a href="list_app">应用列表</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="col-lg-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    XXX应用批量发布
                </div>
                <div class="panel-body">
                    <div class="tooltip-demo">
                        <button type="button" class="btn btn-default" data-placement="left">批量停止服务
                        </button>
                        <button type="button" class="btn btn-default" data-placement="top">批量更新应用
                        </button>
                        <button type="button" class="btn btn-default" data-placement="bottom">
                            批量启动服务
                        </button>
                        <button type="button" class="btn btn-default" data-placement="right">
                            日志查看
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr class="success">
                                <td>192.168.1.1</td>
                            </tr>
                            <tr class="info">
                                <td>192.168.1.2</td>
                            </tr>
                            <tr class="warning">
                                <td>192.168.1.3</td>
                            </tr>
                            <tr class="danger">
                                <td>192.168.1.4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-rg-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    XXX应用单台发布
                </div>
                <div class="panel-body">
                    <div class="tooltip-demo">
                        <button type="button" class="btn btn-default" data-placement="left">停止服务
                        </button>
                        <button type="button" class="btn btn-default" data-placement="top">更新应用
                        </button>
                        <button type="button" class="btn btn-default" data-placement="bottom">
                            启动服务
                        </button>
                        <button type="button" class="btn btn-default" data-placement="right">
                            日志查看
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr class="success">
                                <td>192.168.1.1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/MetisMenu/metisMenu.min.js"></script>
<script src="/static/js/raphael/raphael.min.js"></script>
<script src="/static/js/morrisjs/morris.min.js"></script>
<script src="/static/js/data/morris-data.js"></script>
<script src="/static/js/data/sb-admin-2.js"></script>
</body>
</html>
