<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>荷包金融业务添加</title>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/css/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/font/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">荷包自动发布系统</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 账户管理</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 账户设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="deploy/login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search.">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 资源中心 <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="list_server">主机列表</a>
                                </li>
                                <li>
                                    <a href="list_app">应用列表</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
       <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="page-header">业务添加</h4>
                </div>
            </div>
    <form id="assetForm" method="post" class="form-horizontal" action="add_app">
            <div class="form-group"><label class="col-sm-1 control-label"> 业务名称</label>
                <div class="col-sm-6"><input type="text" placeholder="业务名称(英文)" name="app_name" class="form-control"></div>
            </div>
                    <div class="form-group"><label class="col-sm-1 control-label"> 中文描述</label>
                <div class="col-sm-6"><input type="text" placeholder="使用中文对业务进行描述" name="app_desc" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">应用主机</label>
                <div class="col-sm-6">
                    <select type="text" name="proj_name" class="form-control" id="proj_id">
                         {% for t in tsalist %}
                          <option value ={{ t.0 }}>{{ t.1 }}</option>
                         {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label"> 应用路径 </label>
                <div class="col-sm-6"><input type="text" placeholder="应用路径" name="app_path" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label"> 服务名称</label>
                <div class="col-sm-6"><input type="text" placeholder="IIS 服务的名称" name="server_name" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label"> 日志位置</label>
                <div class="col-sm-6"><input type="text" placeholder="日志路径" name="log_path" class="form-control"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-4">
                    <button class="btn btn-primary" type="submit"> 提 交 </button>
                </div>
            </div>
        </form>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/MetisMenu/metisMenu.min.js"></script>
    <script src="/static/js/raphael/raphael.min.js"></script>
    <script src="/static/js/morrisjs/morris.min.js"></script>
    <script src="/static/js/data/morris-data.js"></script>
    <script src="/static/js/data/sb-admin-2.js"></script>

</body>

</html>
